body {
  margin: 0;
  font-family: Arial, sans-serif;
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  z-index: 1;
  color: #222;
}


.App {
  min-height: 100vh;
  width: 1000%;
  background-color: #fff;
}

.page {
  padding: 40px;
  text-align: center;
}
